.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.dashboard {
  margin: 5px;
}

a.table-link {
  margin: 5px;
}

ul.menu {
  list-style: none;
  text-align: left;
}

ul.menu-item {
  display: "inline-block";
  margin-right: 5em;
}

.falcone-header {
  color: black;
  font-size: 1.5em;
}

table {
  text-align: center;
}

table th {
  text-align: center;
}

table td {
  padding-left: 20px;
}
