@charset "UTF-8";
@import "sass/theme/high-contrast/app";

#map, #modal-map, .modal-summary {
  display: flex;
  -ms-flex: 1;
  flex: 1;
  height: auto;
  min-height: 100%;
}

#modal-map {
  border: 1px solid $shade-light
}

.modal-body {
  flex-direction: row;
}

.map-item {
  display: inline-block;
  z-index: 950;
  box-shadow: 1px 2px 2px $shade-light;
  border-radius: 5px;
  background-color: $white;
  padding: 1em;
}
