/* ==========================================================================
   Main
   ========================================================================== */

/**
 * Following Necolas' Principles of writing consistent, idiomatic CSS:
 * https://github.com/necolas/idiomatic-css
 */

/* Charset */

@charset "UTF-8";
@import "sass/imports";


#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#control {
  position: absolute;
  top: 16px;
  left: 16px;
  ul {
    list-style: none;
    .label { margin-right: 0.5em; }
  }
}
